<!DOCTYPE html>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miscellaneous</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/btlogo.png">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/misc.css" />

  </head>

  <body>

<!--CSS FOR NAV. BAR-->

    <style>
        .hello-msg{
          font-size: 16px;
          color: #fff;
          margin-right: 0px;
         }
            
        #navbarDropdown{
          font-size: 16px;
          color: #fff;
         }
            
        .Logout{
          font-size: 16px;
          color: #fff;
          margin-right: 10px;
         }
    
         .navbar-brand{
           font-style:italic;
           font-family:'Times New Roman';
         }

         #cool-link::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: #fff;
        transition: width .3s;
        }

        #cool-link:hover::after {
          width: 100%;
          transition: width .3s;
        }
            
      </style>

<!--CSS FOR NAV. BAR-->

<!--NAVIGATION BAR-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img class="logo" src="/static/img/btlogo.png" width="25" height="25">
      <a class="navbar-brand" href="/"><strong>Books</strong>Treasury</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="cool-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="cool-link" href="/about">About Us</a>
          </li>
          <li class="nav-item dropdown" id="cool-link">
            <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/">Buy Books</a></li>              
              <li><a class="dropdown-item" href="/sell">Sell Books</a></li>
            </ul>
          </li>
      
          <li class="nav-item">
            <a class="nav-link active" id="cool-link" href="/reviews">Book Reviews</a>
          </li>
          
         <li class="nav-item">
            <a class="nav-link active" id="cool-link" href="/contact">Contact Us</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active" id="cool-link" href="/cart">Cart</a>
          </li>
        </ul>
        <form class="d-flex" method="GET" style="margin-right: 6px;">
          <input class="form-control me-2" type="text" placeholder="Search Category" aria-label="Search" name="category">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
  
        {% if user.is_authenticated %}
        
        <div id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">Hello, {{request.user}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="cool-link" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </div>
  
        {% else %}
        <li class="nav-item dropdown" id="cool-link" id = "sign/in-dropdown" style="list-style-type:none">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sign In/Register
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/sign_in">Sign In</a></li>      
            <li><hr class="dropdown-divider"></li>        
            <li><a class="dropdown-item" href="/register">Register</a></li>                       
          </ul>
        </li>
        {% endif %}
      </div>
    </div>
  </nav>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


<!--NAVIGATION BAR-->

<!--CARDS-->
      <main>
    <a class="text-decoration-none" style="color: black;" target="_blank" href="{% url 'privacypolicy' %}">      
    <div class="card">
      <div class="card-image"></div>
      <div class="card-text">
        <span class="date">4 weeks ago</span>
        <h1><strong>Privacy <br>Policy</strong></h1>
        <p></p>
      </div>
      <div class="card-stats">
       
      </div>
    </div></a>
    <a class="text-decoration-none" style="color: black;" target="_blank" href="{% url 'terms' %}">
    <div class="card">
      <div class="card-image card2"></div>
      <div class="card-text card2">
        <span class="date">1 week ago</span>
        <h1><strong>Terms & Conditions</strong></h1>
        <p></p>
      </div>
      <div class="card-stats card2">
        
      </div>
    </div></a>
    <a class="text-decoration-none" style="color: black;" target="_blank" href="{% url 'disclaimer' %}">
    <div class="card">
        <div class="card-image card3"></div>
        <div class="card-text card3">
          <span class="date">3 week ago</span>
          <h1><strong>Copyright & Disclaimer</strong></h1>
          <p></p>
        </div>
        <div class="card-stats card3">
          
        </div>
      </div></a>
    </main>

<!--CARDS-->

<!--FOOTER-->

      <footer class="text-muted py-5" id="footer" style="background: black; color: grey;">
        <div class="container">
          <p class="float-end mb-1">
            <a class="text-decoration-none" href="#" style="color: white;">Back to top</a>
          </p>
          <p class="mb-1">&copy; 2021 Books Treasury all rights reserved</p>
          <p class="mb-0">New to Books Treasury? <a class="text-decoration-none" href="/" style="color: white;">Visit our homepage</a></p>
          <p style=" margin-top: 0.5%;"><a class="text-decoration-none" href="{% url 'privacypolicy' %}" target="_blank" style="color: white;">&#x2022; Privacy Policy</a><a class="text-decoration-none" href="{% url 'terms' %}" target="_blank" style="color: white; margin-left: 2%;">&#x2022; Terms & Conditions</a></p>
        </div>
      </footer>

<!--FOOTER-->

  </body>
</html>
