{% extends 'base.html' %}

{% block title %}Sell Books{% endblock title %}

{% block body %}

<style>
    .div{
        margin-bottom:20px;
    }

    #btn{
        margin-left: 570px;
    }
</style>

<div class="container mb-3 py-4">
    <h1 class="text-center m-3">Add your Book to Library</h1>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-group m-3">
            <label for="name" class="form-label">Name of the Book</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter the Name of the Book" required>
        </div>
        <div class="form-group m-3">
            <label for="author" class="form-label">Author Name</label>
            <input type="text" class="form-control" id="author" name="author" placeholder="Enter the Name of the Author" required>
        </div>
        <div class="form-group m-3">
            <label for="phone" class="form-label">Seller Contact No.</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your Contact Number" required>
        </div>

        <div class="form-group m-3">
            <label for="category" class="form-label">Category</label>
            <select id="category" class="form-select" name=category required>
              <option value='none'>Choose the Category...</option>
              {% for category in categories %}
                <option value={{category.id}}>{{category.name}}</option>
              {% endfor %}
            </select>
        </div>

        <div class="form-group m-3">
            <label>Create a New Category</label>
            <input name="category_new" type="text" placeholder="Enter a new category" class="form-control">
        </div>

        <div class="form-group m-3">
            <label for="price" class="form-label">Price</label>
            <input type="price" class="form-control" id="price" name="price" placeholder="Enter the Price (In Rupees)" required>
        </div>
        
        <div class="form-group m-3">
            <label for="desc" class="form-label">About the Book</label>
            <textarea class="form-control" id="desc" rows="3" name="desc" placeholder="Describe about the book" required></textarea>
        </div>

        <div class="form-group m-3">
            <label for="cover" class="form-label">Image of the Book's Front</label>
            <input type="file" class="form-control" id ="img" name="img" required>
        </div>

        <div class="form-group m-3">
            <label for="pdf" class="form-label">eBook (Upload PDF if you want)</label>
            <input type="file" class="form-control" id ="pdf" name="pdf">
        </div>

        <button id="btn" class="btn btn-success" type="addbook">Add your Book</button>

    </form>
</div>

<footer class="text-muted py-5" id="footer" style="background: black; color: grey;">
    <div class="container">
      <p class="float-end mb-1">
        <a class="text-decoration-none" href="#" style="color: white;">Back to top</a>
      </p>
      <p class="mb-1">&copy; 2021 Books Treasury all rights reserved</p>
      <p class="mb-0">New to Books Treasury? <a class="text-decoration-none" href="/" style="color: white;">Visit our homepage</a></p>
      <p style=" margin-top: 0.5%;"><a class="text-decoration-none" href="{% url 'misc' %}" target="_blank" style="color: white;">&#x2022; Privacy Policy</a><a class="text-decoration-none" href="{% url 'misc' %}" target="_blank" style="color: white; margin-left: 2%;">&#x2022; Terms & Conditions</a></p>
    </div>
  </footer>

{% endblock body %}
